<div class="admin-panel">
    <h2>Admin Panel</h2>

    <table class="admin-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Photo</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>
                    <img src="{{this.pfp}}" class="pfp-admin-view">
                </td>
                <td>{{this.role}}</td>
                <td class="danger-btn">Delete User</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>