<div class='container'>
    <h2>{{#if post.id}}Edit Post{{else}}Create Post{{/if}}</h2>
    <form action="/chip/{{subChipTitle}}/{{#if post.id}}edit/{{post.id}}{{else}}create{{/if}}" method="POST">
        <div>
            <label for="content">Content</label>
            <textarea name="content" rows="4" required>{{post.content}}</textarea>
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class='btn btn-primary'>{{#if post.id}}Update Post{{else}}Create Post{{/if}}</button>
        </div>
    </form>
    {{#if post.id}}
    <form action="/chip/{{subChipTitle}}/delete/{{post.id}}" method="POST">
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </div>
    </form>
    {{/if}}

    {{#if errorMessage}}
    <p class="error-message" id="error-login">{{errorMessage}}</p>
    {{/if}}
</div>